In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("flights_sample_3m.csv")

In [12]:
df.columns

Index(['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'DOT_CODE',
       'FL_NUMBER', 'ORIGIN', 'ORIGIN_CITY', 'DEST', 'DEST_CITY',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'DELAY_DUE_CARRIER',
       'DELAY_DUE_WEATHER', 'DELAY_DUE_NAS', 'DELAY_DUE_SECURITY',
       'DELAY_DUE_LATE_AIRCRAFT'],
      dtype='object')

In [13]:
list(df.columns)

['FL_DATE',
 'AIRLINE',
 'AIRLINE_DOT',
 'AIRLINE_CODE',
 'DOT_CODE',
 'FL_NUMBER',
 'ORIGIN',
 'ORIGIN_CITY',
 'DEST',
 'DEST_CITY',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CRS_ARR_TIME',
 'ARR_TIME',
 'ARR_DELAY',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'CRS_ELAPSED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'DELAY_DUE_CARRIER',
 'DELAY_DUE_WEATHER',
 'DELAY_DUE_NAS',
 'DELAY_DUE_SECURITY',
 'DELAY_DUE_LATE_AIRCRAFT']

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  object
 2   AIRLINE_DOT              object
 3   AIRLINE_CODE             object
 4   DOT_CODE                 int64
 5   FL_NUMBER                int64
 6   ORIGIN                   object
 7   ORIGIN_CITY              object
 8   DEST                     object
 9   DEST_CITY                object
 10  CRS_DEP_TIME             int64
 11  DEP_TIME                 float64
 12  DEP_DELAY                float64
 13  TAXI_OUT                 float64
 14  WHEELS_OFF               float64
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  CRS_ARR_TIME             int64
 18  ARR_TIME                 float64
 19  ARR_DELAY                float64
 20  CANCELLED                float64
 21  CANCELLATION_CODE        object
 22  DIVERTED                 float64
 23  CRS_ELAPSED_TIME         float64
 24  ELAPSED_TIME             float64
 25  AIR_TIME                 float64
 26  DISTANCE                 float64
 27  DELAY_DUE_CARRIER        float64
 28  DELAY_DUE_WEATHER        float64
 29  DELAY_DUE_NAS            float64
 30  DELAY_DUE_SECURITY       float64
 31  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(19), int64(4), object(9)
memory usage: 732.4+ MB

In [17]:
df.describe()

,DOT_CODE,FL_NUMBER,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
count,3.000000e+06,3.000000e+06,3.000000e+06,2.922385e+06,2.922356e+06,2.921194e+06,2.921194e+06,2.920056e+06,2.920056e+06,3.000000e+06,...,3.000000e+06,2.999986e+06,2.913802e+06,2.913802e+06,3.000000e+06,533863.000000,533863.000000,533863.000000,533863.000000,533863.000000
mean,1.997629e+04,2.511536e+03,1.327062e+03,1.329776e+03,1.012333e+01,1.664305e+01,1.352361e+03,1.462500e+03,7.678982e+00,1.490561e+03,...,2.352000e-03,1.422758e+02,1.366205e+02,1.123108e+02,8.093616e+02,24.759086,3.985260,13.164728,0.145931,25.471282
std,3.772846e+02,1.747258e+03,4.858789e+02,4.993101e+02,4.925183e+01,9.192901e+00,5.008727e+02,5.272368e+02,6.269639e+00,5.115476e+02,...,4.844036e-02,7.155669e+01,7.167582e+01,6.975484e+01,5.878939e+02,71.771845,32.410796,33.161122,3.582053,55.766892
min,1.939300e+04,1.000000e+00,1.000000e+00,1.000000e+00,-9.000000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,1.500000e+01,8.000000e+00,2.900000e+01,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.979000e+04,1.051000e+03,9.150000e+02,9.160000e+02,-6.000000e+00,1.100000e+01,9.310000e+02,1.049000e+03,4.000000e+00,1.107000e+03,...,0.000000e+00,9.000000e+01,8.400000e+01,6.100000e+01,3.770000e+02,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.993000e+04,2.152000e+03,1.320000e+03,1.323000e+03,-2.000000e+00,1.400000e+01,1.336000e+03,1.501000e+03,6.000000e+00,1.516000e+03,...,0.000000e+00,1.250000e+02,1.200000e+02,9.500000e+01,6.510000e+02,4.000000,0.000000,0.000000,0.000000,0.000000
75%,2.036800e+04,3.797000e+03,1.730000e+03,1.739000e+03,6.000000e+00,1.900000e+01,1.752000e+03,1.908000e+03,9.000000e+00,1.919000e+03,...,0.000000e+00,1.720000e+02,1.670000e+02,1.420000e+02,1.046000e+03,23.000000,0.000000,17.000000,0.000000,30.000000
max,2.045200e+04,9.562000e+03,2.359000e+03,2.400000e+03,2.966000e+03,1.840000e+02,2.400000e+03,2.400000e+03,2.490000e+02,2.400000e+03,...,1.000000e+00,7.050000e+02,7.390000e+02,6.920000e+02,5.812000e+03,2934.000000,1653.000000,1741.000000,1185.000000,2557.000000

In [18]:
df.dtypes

FL_DATE                     object
AIRLINE                     object
AIRLINE_DOT                 object
AIRLINE_CODE                object
DOT_CODE                     int64
FL_NUMBER                    int64
ORIGIN                      object
ORIGIN_CITY                 object
DEST                        object
DEST_CITY                   object
CRS_DEP_TIME                 int64
DEP_TIME                   float64
DEP_DELAY                  float64
TAXI_OUT                   float64
WHEELS_OFF                 float64
WHEELS_ON                  float64
TAXI_IN                    float64
CRS_ARR_TIME                 int64
ARR_TIME                   float64
ARR_DELAY                  float64
CANCELLED                  float64
CANCELLATION_CODE           object
DIVERTED                   float64
CRS_ELAPSED_TIME           float64
ELAPSED_TIME               float64
AIR_TIME                   float64
DISTANCE                   float64
DELAY_DUE_CARRIER          float64
DELAY_DUE_WEATHER          float64
DELAY_DUE_NAS              float64
DELAY_DUE_SECURITY         float64
DELAY_DUE_LATE_AIRCRAFT    float64
dtype: object

In [19]:
df.head()

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN

In [24]:
# Count null values in each column
null_counts = df.isnull().sum()

# Display null counts
print(null_counts)

FL_DATE                          0
AIRLINE                          0
AIRLINE_DOT                      0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     77615
DEP_DELAY                    77644
TAXI_OUT                     78806
WHEELS_OFF                   78806
WHEELS_ON                    79944
TAXI_IN                      79944
CRS_ARR_TIME                     0
ARR_TIME                     79942
ARR_DELAY                    86198
CANCELLED                        0
CANCELLATION_CODE          2920860
DIVERTED                         0
CRS_ELAPSED_TIME                14
ELAPSED_TIME                 86198
AIR_TIME                     86198
DISTANCE                         0
DELAY_DUE_CARRIER          2466137
DELAY_DUE_WEATHER          2466137
DELAY_DUE_NAS              2466137
DELAY_DUE_SECURITY         2466137
DELAY_DUE_LATE_AIRCRAFT    2466137
dtype: int64

In [23]:
# Count null values per column
null_counts = df.isnull().sum()
print("Null values in each column:\n")
print(null_counts)

# Show columns with missing values only
print("\nColumns with missing values:\n")
print(null_counts[null_counts > 0])

Null values in each column:

FL_DATE                          0
AIRLINE                          0
AIRLINE_DOT                      0
AIRLINE_CODE                     0
DOT_CODE                         0
FL_NUMBER                        0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     77615
DEP_DELAY                    77644
TAXI_OUT                     78806
WHEELS_OFF                   78806
WHEELS_ON                    79944
TAXI_IN                      79944
CRS_ARR_TIME                     0
ARR_TIME                     79942
ARR_DELAY                    86198
CANCELLED                        0
CANCELLATION_CODE          2920860
DIVERTED                         0
CRS_ELAPSED_TIME                14
ELAPSED_TIME                 86198
AIR_TIME                     86198
DISTANCE                         0
DELAY_DUE_CARRIER          2466137
DELAY_DUE_WEATHER          2466137
DELAY_DUE_NAS              2466137
DELAY_DUE_SECURITY         2466137
DELAY_DUE_LATE_AIRCRAFT    2466137
dtype: int64

Columns with missing values:

DEP_TIME                     77615
DEP_DELAY                    77644
TAXI_OUT                     78806
WHEELS_OFF                   78806
WHEELS_ON                    79944
TAXI_IN                      79944
ARR_TIME                     79942
ARR_DELAY                    86198
CANCELLATION_CODE          2920860
CRS_ELAPSED_TIME                14
ELAPSED_TIME                 86198
AIR_TIME                     86198
DELAY_DUE_CARRIER          2466137
DELAY_DUE_WEATHER          2466137
DELAY_DUE_NAS              2466137
DELAY_DUE_SECURITY         2466137
DELAY_DUE_LATE_AIRCRAFT    2466137
dtype: int64

In [25]:
# Calculate percentage of missing values
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\nPercentage of missing values per column:\n")
print(missing_percentage[missing_percentage > 0])

Percentage of missing values per column:

DEP_TIME                    2.587167
DEP_DELAY                   2.588133
TAXI_OUT                    2.626867
WHEELS_OFF                  2.626867
WHEELS_ON                   2.664800
TAXI_IN                     2.664800
ARR_TIME                    2.664733
ARR_DELAY                   2.873267
CANCELLATION_CODE          97.362000
CRS_ELAPSED_TIME            0.000467
ELAPSED_TIME                2.873267
AIR_TIME                    2.873267
DELAY_DUE_CARRIER          82.204567
DELAY_DUE_WEATHER          82.204567
DELAY_DUE_NAS              82.204567
DELAY_DUE_SECURITY         82.204567
DELAY_DUE_LATE_AIRCRAFT    82.204567
dtype: float64

In [27]:
# Fill numeric columns with median
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
for col in numeric_cols:
    df[col] = df[col].fillna(df[col].median())  # assign back instead of inplace

# Fill categorical columns with 'Unknown'
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].fillna('Unknown')  # assign back instead of inplace

# Verify no nulls left
print("\nNull values after handling:\n")
print(df.isnull().sum())

Null values after handling:

FL_DATE                    0
AIRLINE                    0
AIRLINE_DOT                0
AIRLINE_CODE               0
DOT_CODE                   0
FL_NUMBER                  0
ORIGIN                     0
ORIGIN_CITY                0
DEST                       0
DEST_CITY                  0
CRS_DEP_TIME               0
DEP_TIME                   0
DEP_DELAY                  0
TAXI_OUT                   0
WHEELS_OFF                 0
WHEELS_ON                  0
TAXI_IN                    0
CRS_ARR_TIME               0
ARR_TIME                   0
ARR_DELAY                  0
CANCELLED                  0
CANCELLATION_CODE          0
DIVERTED                   0
CRS_ELAPSED_TIME           0
ELAPSED_TIME               0
AIR_TIME                   0
DISTANCE                   0
DELAY_DUE_CARRIER          0
DELAY_DUE_WEATHER          0
DELAY_DUE_NAS              0
DELAY_DUE_SECURITY         0
DELAY_DUE_LATE_AIRCRAFT    0
dtype: int64

In [28]:
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns in dataset:\n", categorical_cols)

Categorical columns in dataset:
 Index(['FL_DATE', 'AIRLINE', 'AIRLINE_DOT', 'AIRLINE_CODE', 'ORIGIN',
       'ORIGIN_CITY', 'DEST', 'DEST_CITY', 'CANCELLATION_CODE'],
      dtype='object')

In [36]:
from sklearn.preprocessing import LabelEncoder

# Label encode AIRLINE column
le = LabelEncoder()
df['AIRLINE_Label'] = le.fit_transform(df['AIRLINE'])

# Show mapping
mapping = dict(zip(le.classes_, le.transform(le.classes_)))
print("Label Encoding mapping for AIRLINE:\n", mapping)

Label Encoding mapping for AIRLINE:
 {'Alaska Airlines Inc.': np.int64(0), 'Allegiant Air': np.int64(1), 'American Airlines Inc.': np.int64(2), 'Delta Air Lines Inc.': np.int64(3), 'Endeavor Air Inc.': np.int64(4), 'Envoy Air': np.int64(5), 'ExpressJet Airlines LLC d/b/a aha!': np.int64(6), 'Frontier Airlines Inc.': np.int64(7), 'Hawaiian Airlines Inc.': np.int64(8), 'Horizon Air': np.int64(9), 'JetBlue Airways': np.int64(10), 'Mesa Airlines Inc.': np.int64(11), 'PSA Airlines Inc.': np.int64(12), 'Republic Airline': np.int64(13), 'SkyWest Airlines Inc.': np.int64(14), 'Southwest Airlines Co.': np.int64(15), 'Spirit Air Lines': np.int64(16), 'United Air Lines Inc.': np.int64(17)}

In [39]:
# Take a small sample for demonstration
sample_df = df[['ORIGIN', 'DEST']].sample(5000, random_state=42)

# One-hot encode sample
sample_encoded = pd.get_dummies(
    sample_df,
    columns=['ORIGIN', 'DEST'],
    prefix=['Origin', 'Dest']
)

print(sample_encoded.head())

         Origin_ABE  Origin_ABI  Origin_ABQ  Origin_ABY  Origin_ACK  \
2945667       False       False       False       False       False
2352586       False       False       False       False       False
1531260       False       False       False       False       False
941910        False       False       False       False       False
2582125       False       False       False       False       False

         Origin_ACY  Origin_ADQ  Origin_AEX  Origin_AKN  Origin_ALB  ...  \
2945667       False       False       False       False       False  ...
2352586       False       False       False       False       False  ...
1531260       False       False       False       False       False  ...
941910        False       False       False       False       False  ...
2582125       False       False       False       False       False  ...

         Dest_TVC  Dest_TYR  Dest_TYS  Dest_UIN  Dest_VLD  Dest_VPS  Dest_WRG  \
2945667     False     False     False     False     False     False     False
2352586     False     False     False     False     False     False     False
1531260     False     False     False     False     False     False     False
941910      False     False     False     False     False     False     False
2582125     False     False     False     False     False     False     False

         Dest_XNA  Dest_XWA  Dest_YUM
2945667     False     False     False
2352586     False     False     False
1531260     False     False     False
941910      False     False     False
2582125     False     False     False

[5 rows x 549 columns]

In [43]:
from sklearn.preprocessing import OrdinalEncoder

# Define order including 'Unknown'
ordinal_order = [['Unknown', 'A', 'B', 'C', 'D']]

oe = OrdinalEncoder(categories=ordinal_order)

df['CANCELLATION_CODE_Ordinal'] = oe.fit_transform(
    df[['CANCELLATION_CODE']]
)

print(df[['CANCELLATION_CODE', 'CANCELLATION_CODE_Ordinal']].head())
df[['CANCELLATION_CODE', 'CANCELLATION_CODE_Ordinal']].value_counts()

  CANCELLATION_CODE  CANCELLATION_CODE_Ordinal
0           Unknown                        0.0
1           Unknown                        0.0
2           Unknown                        0.0
3           Unknown                        0.0
4           Unknown                        0.0

CANCELLATION_CODE  CANCELLATION_CODE_Ordinal
Unknown            0.0                          2920860
B                  2.0                            28772
D                  4.0                            24417
A                  1.0                            19476
C                  3.0                             6475
Name: count, dtype: int64

In [44]:
# Frequency encoding for ORIGIN_CITY
freq = df['ORIGIN_CITY'].value_counts() / len(df)
df['ORIGIN_CITY_Freq'] = df['ORIGIN_CITY'].map(freq)

print(df[['ORIGIN_CITY', 'ORIGIN_CITY_Freq']].head())

           ORIGIN_CITY  ORIGIN_CITY_Freq
0  Fort Lauderdale, FL          0.013425
1      Minneapolis, MN          0.020020
2           Denver, CO          0.039973
3      Minneapolis, MN          0.020020
4          Orlando, FL          0.021294

In [46]:
# Create binary delay status feature
df['IS_DELAYED'] = df['DEP_DELAY'].apply(lambda x: 1 if x > 0 else 0)

# Show before and after
print(df[['DEP_DELAY', 'IS_DELAYED']].head())

   DEP_DELAY  IS_DELAYED
0       -4.0           0
1       -6.0           0
2        6.0           1
3       -1.0           0
4       -2.0           0

In [47]:
# Create route feature
df['ROUTE'] = df['ORIGIN'] + "_" + df['DEST']

# Show before and after
print(df[['ORIGIN', 'DEST', 'ROUTE']].head())

  ORIGIN DEST    ROUTE
0    FLL  EWR  FLL_EWR
1    MSP  SEA  MSP_SEA
2    DEN  MSP  DEN_MSP
3    MSP  SFO  MSP_SFO
4    MCO  DFW  MCO_DFW

In [48]:
# Create distance categories
df['DISTANCE_CATEGORY'] = pd.cut(
    df['DISTANCE'],
    bins=[0, 500, 1500, 3000, 5000],
    labels=['Short', 'Medium', 'Long', 'Very Long']
)

print(df[['DISTANCE', 'DISTANCE_CATEGORY']].head())

   DISTANCE DISTANCE_CATEGORY
0    1065.0            Medium
1    1399.0            Medium
2     680.0            Medium
3    1589.0              Long
4     985.0            Medium